@model TMS.ViewModels.Masters.CourseMasterViewModel
@{
    var permissions = ViewContext.HttpContext.GetFormPermissions();
}
<form method="post" class="noclick" id="frmItem" disabled="@(!permissions.Add && !permissions.Edit)">
    <div class="card glass">
        <div class="card-body">
            <input asp-for="Id" type="hidden" />
            <input id="hdAddEditActionAllowed" type="hidden" value="@permissions.CanShowAddEditButton(Model!.Id).ToString().ToLower()" />
            <div class="row mb-2">
                <div class="col-12 col-md-6">
                    <div class="mb-1">
                        <label asp-for="CourseCategoryId"></label>
                        <select asp-for="CourseCategoryId" asp-items="ViewBag.CourseCategoryId" class="form-select"></select>
                        <span asp-validation-for="CourseCategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-1">
                        <label asp-for="SemesterId"></label>
                        <select asp-for="SemesterId" asp-items="ViewBag.SemesterId" class="form-select"></select>
                        <span asp-validation-for="SemesterId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-1">
                        <label asp-for="CourseCode"></label>
                        <input asp-for="CourseCode" aria-required="true" placeholder="Enter Course Code" disabled="@(!permissions.Add && !permissions.Edit)" />
                        <span asp-validation-for="CourseCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-1">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" aria-required="true" placeholder="Enter Name" disabled="@(!permissions.Add && !permissions.Edit)" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-1">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" aria-required="true" placeholder="Enter Description" disabled="@(!permissions.Add && !permissions.Edit)" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-1">
                        <label asp-for="NoofCredit"></label>
                        <input asp-for="NoofCredit" aria-required="true" placeholder="Enter No of Credit" disabled="@(!permissions.Add && !permissions.Edit)" />
                        <span asp-validation-for="NoofCredit" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-1">
                        <label asp-for="CIE"></label>
                        <input asp-for="CIE" aria-required="true" placeholder="Enter CIE %" disabled="@(!permissions.Add && !permissions.Edit)" />
                        <span asp-validation-for="CIE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-1">
                        <label asp-for="ESE"></label>
                        <input asp-for="ESE" aria-required="true" placeholder="Enter CIE %" disabled="@(!permissions.Add && !permissions.Edit)" />
                        <span asp-validation-for="ESE" class="text-danger"></span>
                    </div>
                </div>
                @*   <div class="col-12 col-md-6">
                    <div class="mb-1">
                        <label asp-for="ESE"></label>
                        <input asp-for="ESE" aria-required="true" placeholder="Enter ESE %"" disabled="@(!permissions.Add && !permissions.Edit)" />
                        <span asp-validation-for="ESE" class="text-danger"></span>
                    </div>
                </div> *@
                
                <div class="col-12 col-md-6">
                    <div class="mb-1">
                        <label asp-for="CourseDurationMonths"></label>
                        <input asp-for="CourseDurationMonths" aria-required="true" placeholder="Enter Course Duration (days)" disabled="@(!permissions.Add && !permissions.Edit)" />
                        <span asp-validation-for="CourseDurationMonths" class="text-danger"></span>
                    </div>
                </div>
                
                @if (Model?.Id > 0)
                {
                    <div class="col-12 col-md-6">
                        <label class="form-label">Status</label>
                        <div class="d-flex">
                            <label asp-for="IsActive" class="form-check-label nomandatory">Inactive</label>
                            <div class="form-switch form-check ms-2">
                                <input asp-for="IsActive" class="form-check-input">
                            </div>
                            <label asp-for="IsActive" class="form-check-label nomandatory">Active</label>
                        </div>
                    </div>
                }
               
            </div>
        </div>
    </div>
</form>