@model IEnumerable<TMS.ViewModels.Account.RoleMasterViewModel>
@using TMS
@{
    var controller = Convert.ToString(ViewContext.RouteData.Values["controller"]);
    var iIndex = 0;
    var permissions = ViewContext.HttpContext.GetFormPermissions();
}
<div class="card glass">
    @if (permissions.Add)
    {
        <div class="card-header py-1">
            <a asp-area="Admin" asp-action="Item" asp-controller="@controller" class="btn btn-primary btn-sm float-end">
                <i class="fas fa-plus me-1"></i>Add New
            </a>
        </div>
    }
    <div class="card-body">
        <table id="example" data-order='[[1, "asc"]]' class="table table-striped nowrap">
            <thead>
                <tr>
                    <th data-orderable="false">Sl. No.</th>
                    <th>User Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Is Active</th>
                    <th>Last Action By</th>
                    <th>Last Action On</th>
                    <th data-orderable="false">@permissions.EditViewText</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        iIndex += 1;
                        <tr>
                            <td>@iIndex</td>
                            <td>@item.UserTypeName</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@(item.IsActive ? "Active" : "In active")</td>
                            <td>@item.LastActionBy</td>
                            <td data-order="@item.LastActionOnOrder">@item.LastActionOnStr</td>
                            <td><a asp-area="Admin" asp-action="Item" asp-controller="@controller" asp-route-iId="@EncriptorUtility.Encrypt(item.Id.ToString(),true)" data-toggle="tooltip" title="@permissions.EditViewText"><i class="@permissions.EditViewIconClass"></i></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
